{% extends "base.html" %}

{% block title %} {{ block.super }} - password reset - confirm {% endblock %} 

{% block content %} 

    {% if validlink %} 

    <h2>password reset - confirm</h2>
    <p>Please enter new password twice.</p>

    <form role="form" action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>submit</button>
    </form>
    
    {% else %} 

    <h2>password reset unsuccessful</h2>
    <p>The password reset link is invalid. Please request to reset again.</p>

    {% endif %} 

{% endblock %} 
